
URxvt.scrollBar: false
URxvt.font: xft:Dejavu Sans Mono:bold:size=11:antialias=true


URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.C-u:           perl:url-select:select_next
URxvt.keysym.C-Escape:      perl:keyboard-select:activate
URxvt.keysym.C-s:           perl:keyboard-select:search

URxvt.keysym.C-c:   perl:clipboard:copy
URxvt.keysym.C-v:   perl:clipboard:paste
URxvt.keysym.C-C-v: perl:clipboard:paste_escaped
